{% extends "base.html" %}

{% block title %}题目列表{% endblock %}

{% block page_content %}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <h2 style="text-align:center">{{ course.name }}</h2><hr/>
        <div class="dataTable_wrapper">
            <button class="btn btn-primary" data-toggle="modal" onclick="add_problem()">上传题目</button>
            <table width="100%" class="table table-striped table-bordered table-hover center" id="dataTables-example">
                <thead>
                <tr>
                    <th>题目名称</th>
                    <th>时间限制</th>
                    <th>内存限制</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for problem in problems %}
                <tr class="odd gradeX">
                    <td>{{ problem.title }}</td>
                    <td>{{ problem.time }}</td>
                    <td>{{ problem.mem }}</td>
                    <td>
                        <button class="btn btn-primary btn-xs" onclick="edit_problem('{{ problem.id }}', '{{ problem.title }}',
                        '{{ problem.time }}', '{{ problem.mem }}', '')">编辑</button>
                        <button class="btn btn-primary btn-xs" onclick="del_problem('{{ problem.id }}')">删除</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_form_problem" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">上传题目</h3>
            </div>
            <div class="modal-body form">
                <form action="#" id="form_problem" class="form-horizontal">
                    <input id="problem_id" type="hidden" value="" name="id"/>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">题目名称</label>
                            <div class="col-md-9">
                                <input id="title" name="title" placeholder="" class="form-control" type="text">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">时间限制</label>
                            <div class="col-md-9">
                                <input id="time" name="time" placeholder="" class="form-control" type="text">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">内存限制</label>
                            <div class="col-md-9">
                                <input id="mem" name="mem" placeholder="" class="form-control" type="text">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <textarea id="content" rows="15" cols="74"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" onclick="save_problem()" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Bootstrap modal -->
{% endblock %}

{% block foot %}
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                'responsive': true,
                'bSort': false,
                'iDisplayLength': 15,
                'bLengthChange': false,
                'language': {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
        });
    });

    function add_problem() {
        save_method = 'add';
        $('#form_problem')[0].reset(); // reset form on modals
        $('#content').val('');
        $('.form-group').removeClass('has-error'); // clear error class
        $('.help-block').empty(); // clear error string
        $('#modal_form_problem').modal('show'); // show bootstrap modal
        $('.modal-title').text('上传题目'); // Set Title to Bootstrap modal title
    }

    function save_problem() {
        $.ajax({
            url: "/teachers/save_problem",
            type: "POST",
            data: $('#form_problem').serialize() + "&course_id={{ course.id }}&content=" + $('#content').val(),
            dataType: "JSON",
            success: function(resp) {
                if (resp.code == 0) {
                    $('#modal_form_problem').modal('hide');
                    window.location = "/teachers/problems?course_id={{ course.id }}";
                }
            }
        });
    }

    function edit_problem(id, title, time, mem, content) {
        $('#form_problem')[0].reset(); // reset form on modals
        $('.form-group').removeClass('has-error'); // clear error class
        $('.help-block').empty(); // clear error string
        $('#modal_form_problem').modal('show'); // show bootstrap modal
        $('.modal-title').text('编辑题目'); // Set Title to Bootstrap modal title
        $('#problem_id').val(id);
        $('#title').val(title);
        $('#time').val(time);
        $('#mem').val(mem);
        $('#content').val(content);
    }

    function del_problem(problem_id) {
        $.ajax({
            url: "/teachers/del_problem",
            type: "POST",
            data: {
                id: problem_id
            },
            dataType: "JSON",
            success: function(resp) {
                window.location = "/teachers/problems?course_id={{ course.id }}";
            }
        });
    }

</script>
{% endblock %}
